** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row:before, .row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-']{
  float: left;
  min-height: 10em;
  margin: 0.5%;
  font-family: fantasy;
  font-size: 1em;
  color:bisque;
  text-align: center;
}

.col-1 {
  background: #F7EA00; 
  width: 99%;
}

.col-2 {
  background: white;
  width: 65.6%;
  display:block;
}

.col-21 {
  background: #34EAA9;/*seccion verde*/
  height: 9em;
  width: 99%;
}
.col-22 {
  background: #36b6e8;/*secion rosa*/
  height: 10em;
  width: 32.333%;

}

.col-23 {
  background: #e836b1;/*secion rosa*/
  height: 10em;
  width: 32.333%;

}

.col-24 {
  background: #f7b93c;/*secion rosa*/
  height: 10em;
  width: 32.333%;

}

.col-3 {
  background: #E486EA;/*secion rosa*/
  height: 20.5em;
  width: 32.333%;
}

@media all and (max-width:650px) {



.col-1 {
  width: 100%;

}
    
.col-2{
    width: 100%;
}
    
.col-21 {
  width: 100%;
}


.col-22 {
  height: 10em;
  width: 32%;
  margin-left: 1%

}

.col-23 {
  height: 10em;
  width: 32%;

}
.col-24 {
  height: 10em;
  width: 32%;

}

  .col-3 {
    width: 100%;
}